:root {
    --main-text-color: black;
    --extra-text-color : white;
    --arrow-size-default: 35px;
    --arrow-size-after: 45px;
    --arrow-margin: 15px;
    --arrow-transition-time: 0.4s;
    --default-gap: 20px;
}