.construction{
    position: relative;
    left: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 80px;
    font-family: Manrope-SemiBold, Helvetica;
    color: var(--extra-text-color);
    max-width: 500px;
}