@import url("config.css");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* max-width: 1200px; */
}

body
{
    padding: 0px;
    /* background-color: white; */
    /* background-color: black; */
    /* max-width: 1200px; */
}

.container
{
    margin: 0 auto;
    /* background-color: white; */
    /* background-color: black; */
    /* max-width: 1200px; */
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.main_app{
    margin: 40px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.promo_block {
    position: relative;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    background-color: black;
}

.solution{
    padding: 30px;
    /* padding-bottom: 220px; */
    font-size: 55px;
    font-family: Manrope-ExtraBold, Helvetica;
    color: var(--extra-text-color);
}

.powered_box{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.materia_tech_logo img{
    width: 50px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.powered_by_text{
    /* padding: 30px; */
    font-size: 22px;
    font-family: Manrope-ExtraBold, Helvetica;
    color: var(--extra-text-color);
}

.tech_block {
    border-radius: 20px;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-rows: auto auto;
    gap: var(--default-gap);
}

.cyphr_info{    
    border-radius: 20px;
    background-color: var(--main-text-color);
    position: relative;
}

.name_box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.cyphr_logo img{
    width: 130px;
}
.cyphr_name{
    font-size: 75px;
    font-family: Manrope-ExtraBold, Helvetica;
    color: var(--extra-text-color);
}

.products{
    display: grid;
    grid-template-columns: auto auto;
    gap: var(--default-gap);
}

.product_name{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    font-size: 40px;
    font-family: Manrope-ExtraBold, Helvetica;
    color: var(--extra-text-color);
}

.cyphr_stego{
    border-radius: 20px;
    background-color: var(--main-text-color);
    position: relative;
}

.cyphr_aes{
    border-radius: 20px;
    background-color: var(--main-text-color);
    position: relative
}

.arrow_box img{
    position: absolute;
    right: 0;
    top: 0;
    margin: var(--arrow-margin);
    width: var(--arrow-size-default);
    transition: var(--arrow-transition-time);
}
.arrow_box img:hover {
    transition: var(--arrow-transition-time);
    width: var(--arrow-size-after);
}












.test{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    font-size: 50px;
    font-family: Manrope-ExtraBold, Helvetica;
    color: var(--main-text-color);
}